.main-footer{
    color:white;
    align-items: center;
    top:100%;
    font-size:.889rem;
    position:stiky;
    left:0;
    bottom:0;
    right:0;
    margin-top: 200%;
    overflow:hidden;
}
.title{
    margin-bottom:0.3em;
}
.container{
    width:100%;
    padding-left:30px;
    padding-right:20px;
    padding-bottom:20px;
    padding-top: 20px;
    background-color: black;  
}
.row{
    display: flex;
    flex-direction: row;
}
.row > div{
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    flex-basis:30%;   
}
.list-unstyled{
    list-style: none;
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    margin-bottom: 0;
}
a{
    color: grey;
    font-size: 18px;
    line-height: 1.8em;
    text-decoration:underline;
    text-decoration-color: black;
}
a:hover{
    text-decoration:underline;
    text-decoration-color: grey;
}

.icon{
    height: 10px;
    display: flex;
    flex-direction:row;
}
.icon > div{
    margin: 10px;
    padding: 5px;
    flex-basis:3%;   
}

.social{
    width:110%;
    
}
.social:hover{
    opacity: 0.6;
}

.footer-bottom{
    color:grey;
    margin:10px;
    padding: 5px;
    line-height: 0em;
    margin-top: 60px;
}

@media screen and (max-width: 650px){
    .title{
        margin-bottom:0.5em;
    }
    .row{
        flex-direction: column;
        line-height: 1.5em
    }
    .row > div{
        margin: 0px;
        padding: 0px;
        font-size: 22px;
        flex-basis:30%; 
        margin-top: 0;
    }
    .list-unstyled{    
        font-size: 40px;
        line-height: 0.5em;
    }
    .icon > div{
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        margin-top: 1em;
        flex-basis:10%; 
        margin-bottom: 1em;
    }
    .social{
        width:80%; 
    }
    .footer-bottom{
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        margin-top: 18%;
    }
}




