.UpperBg{
    margin-top: 100%;
    left:0;
    right:0;
    position: sticky;
    overflow:hidden;
    transform: rotateY(180deg);
}

.UpperBg-container{
    background:#F8F8F8;
    height:220px;
    width:100%;
    position: sticky;
    padding-top: 25%; 
    background: linear-gradient( 7deg, #F8F8F8 0%, #F8F8F8 70% ,white 71%);
    transform: rotateX(180deg);
}
.sub-UpperBg{
    height:120px;
    width: 260%;
    margin-left: -10%;
    margin-top: -9%; 
    margin-bottom: 1em;
    background: linear-gradient(-3.5deg, #F8F8F8 0%, #F8F8F8 68%,#93D4EF 90%); 
    transform: rotate(6deg);
} 

@media screen and (max-width: 650px){
  
    .reg-container{
        background:#F8F8F8;
        height:470px;
        background: linear-gradient( -7deg, #F8F8F8 0%, #F8F8F8 70% ,white 80%);
    }
    .sub-container{
        background: linear-gradient( -5deg, #F8F8F8 0%, #F8F8F8 68%,#93D4EF 90%); 
    } 
}